* {
  margin    : 0;
  padding   : 0;
  box-sizing: border-box;
}

.container {
  max-width: 100%;
  margin   : 10px;
  padding  : 10px;
}

h1 {
  text-align   : center;
  margin-bottom: 20px;
}

.filter {
  display        : flex;
  flex-direction : row;
  justify-content: center;
  gap            : 50px;
  margin-bottom  : 20px;
}

table {
  border          : 1px solid #000;
  background-color: rgb(224, 222, 222);
  margin-top      : 20px;
  border-collapse : collapse;
  width           : 100%;
  font-size       : 20px;
}

td,
th,
tr {
  border    : 1px solid #000;
  padding   : 8px;
  text-align: left;
}
td button {
  padding       : 8px 16px;       
  margin        : 4px;            
  border        : none;
  border-radius : 6px;
  font-size     : 14px;
  font-weight   : bold;
  cursor        : pointer;
  color         : #fff;
  transition    : background-color 0.3s ease;
}

td button[data-edit-id] {
  background-color: #28a745 ;
}

td button[data-edit-id]:hover {
  background-color:#218838 ;
}

td button[data-view-id] {
  background-color: #0056b3;
}

td button[data-view-id]:hover {
  background-color: #117a8b;
}

td button[data-delete-id] {
  background-color: #dc3545;
}

td button[data-delete-id]:hover {
  background-color: #c82333;
}

.add-stu {
  background-color: #000;
  color           : #fff;
  border          : none;
  border-radius   : 5px;
  font-size       : 19px;
  margin          : 10px;
  padding         : 10px 20px;
  transition      : background-color 0.3s ease;
}

.add-stu:hover {
  background-color: #333;
  cursor          : pointer;
}

#attendanceFilter,
#gradeFilter,
#search {
  font-size    : 20px;
  border-radius: 7px;
  padding      : 10px;
  border       : 1px solid #000;
}

#formPopup {
   display: none;
  position: fixed;
  top: 45px;
  left: 100px;
  background:#fffed2;
  border: 2px solid #000;
  padding: 30px 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 45%;
    overflow-y: auto;
    max-height: 90vh;
}

#formPopup.active {
  display: block;
}

#studentForm label {
  font-weight: bold;
  font-size: 16px;
}

#studentForm input[type="text"],
#studentForm input[type="email"],
#studentForm input[type="number"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: white;
  width: 100%;
}

#studentForm input[type="radio"] {
  margin-right: 5px;
  background-color: white;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.save,
.cancel {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: #fff;
  transition: background-color 0.3s ease;
}

.save {
  background-color: #28a745;
}

.save:hover {
  background-color: #218838;
}

.cancel {
  background-color: #dc3545;
}

.cancel:hover {
  background-color: #c82333;
}

#tbody {
  background-color: beige;
}

.form-actions {
  display        : flex;
  justify-content: space-between;
  margin-top     : 15px;
}

.cancel,
.save {
  padding  : 10px 20px;
  font-size: 16px;
  cursor   : pointer;
}

@media (max-width: 768px) {
  table {
    display    : block;
    overflow-x : auto;
    white-space: nowrap;
  }

  td,
  th {
    min-width: 150px;
  }

  h1 {
    text-align: center;
  }

  .add-stu,
  .filter {
    flex-direction : column;
    gap            : 20px;
    text-align     : center;
    justify-content: center;
    font-size      : 12px;
  }
}